* {
  margin: 0;
}
body {
  background-color: #FAFAFA;
  color: #222;
  background: url('./images/NYC.jpg') no-repeat center center fixed;
  background-size: cover;
}
.container{
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  position: relative;

  outline: 3px solid white;
  outline-offset: -2vw;
}
